.fof-div {
  height: 700px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.fof-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  /* margin-bottom: 2%; */
  margin-top: -1%;
  transition: all 1s;
}

.fof-title:hover {
  color: rgb(255, 100, 80);
}

.fof-image {
  height: 670px;
  width: 1500px;
}
