.empty-height {
  height:1000px;
}

.MyReviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  /* border: 1px solid red; */
}

.ReviewsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 2%;
}

.myreviews-card {
  border: 1px solid rgba(225, 225, 225);
  border-radius: 8px;
  width: 400px;
  margin-bottom: 2.5%;
  margin-left: 2%;
}
