.empty-height {
  height:1000px;
}

.MyReviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.ReviewsTitle {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 2%;
  transition: all 1s;
  font-weight: bold;
  width: 120px;
  margin-left: 47%;
  /* border: 1px solid red; */
}

.ReviewsTitle:hover,
.empty-reviews:hover {
  color: rgb(255, 100, 80);
}

.myreviews-card {
  border: 1px solid rgba(225, 225, 225);
  border-radius: 8px;
  width: 400px;
  margin-bottom: 2.5%;
  margin-left: 2%;
  cursor: pointer;
}

.myreviews-card:hover {
  background-color: rgb(240, 240, 240);
  transition: all 1.5s;
}

.empty-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  transition: all 1s;
}

.empty-rimage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 670px;
  width: 1500px;
  margin-left: 12%;
}
