.writeReviewButton {
  background-color: rgb(255, 105, 88);
  color: white;
  font-size: 14px;
  border: none;
  font-weight: 600;
  height: 40px;
  width: 130px;
  transition: all 0.8s;
  margin-left: 5.5%;
  margin-top: 1.5%;
  margin-bottom: 0.8%;
}

.writeReviewButton:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(255, 105, 88);
  border: rgb(255, 105, 88) 1px solid;
}

.reviewHTitle {
  font-family: Helvetica, Rounded;
  font-size: 20px;
  font-weight: 750;
  color: rgb(255, 100, 80);
  display: flex;
  justify-content: center;
}

.reviewError {
  color: red;
  /* font-size: 23px; */
  font-family: Helvetica, Rounded;
}

.reviewBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 325px;
  width: 400px;
  /* padding: 30px 60px; */
}

.userReview,
.userStar {
  font-size: 16px;
  border: solid 1px lightslategray;
  border-radius: 4px;
  min-width: 300px;
  max-width: 300px;
  height: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  margin-top: 20px;
  position: relative;
}

.submitReview {
  background-color: rgb(255, 105, 88);
  color: white;
  font-size: 14px;
  border: none;
  font-weight: 600;
  height: 40px;
  width: 130px;
  transition: all 0.8s;
  margin-left: 28%;
  margin-top: 8%;
}

.submitReview:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(255, 105, 88);
  border: rgb(255, 105, 88) 1px solid;
}
